.info {
	
}
.form {

		// .form__line
		&__line {
			display: flex;
			@media (max-width:$mobile){
				 flex-direction: column; 
			}
		}
		// .form__label
		&__label {
		}
		// .form__action
		&__action {
			display: flex;
			justify-content: space-between;
			gap: toRem(10);
			@media (max-width:$mobile){
				 flex-direction: column; 
			}
			
		}
		// .form__button
		&__button {
			@media (max-width:$mobile){
				 	width: 100%; 
			}
		}
}
.result {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	@include adaptiveValue("padding", 40, 3);
	border: toRem(2) solid black;
	border-radius: toRem(10);
 background: #fff5;
  backdrop-filter: blur(toRem(15));
  @include adaptiveValue("font-size", 20, 18);
  color: #fff;
  &__head{
	@include adaptiveValue("font-size", 25, 21);
	font-weight: 700;
	padding: toRem(30);
  }
		// .result__item
		&__item {
		}
		// .result__total
		&__total {
			span{
				color: rgb(146, 248, 62);
				font-weight: 700;
				@include adaptiveValue("font-size", 22, 20);
			}
		}
}
