.title{
	font-family: $fontFamily;
	@include adaptiveValue("font-size", 32, 20);
}
.subtitle{
	@include adaptiveValue("font-size", 21, 16);
	font-family: $fontFamily;
	font-weight: 700;
}
.test{
	color: red;
}
.button{
	display: flex;
	align-items: center;
	justify-content: center;
	gap:toRem(5);
	color: #fff;
	@include adaptiveValue("padding-right", 24, 12);
	@include adaptiveValue("padding-left", 24, 12);
	background:$orangeColor ;
	@include adaptiveValue("font-size", 18, 14);
	font-weight: 700;
	line-height: math.div( 36, 12);
	letter-spacing: toRem(0.5);
	border-radius: toRem(4);
	border: toRem(1) solid transparent;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover){
		&:hover{
			color: #fff;
			border: toRem(1) solid $mainColor;
			box-shadow: 0 0 toRem(6) toRem(1);
		}
	}
}
table{
	border: 1px solid black;
	text-align: center;
	@include adaptiveValue("font-size", 18, 12);
}

td{
	@include adaptiveValue("padding", 10, 3);
	border: 1px solid black;
}
.main-container-block{
	@include adaptiveValue("padding-top", 150,100);
}



.button-link{
	background-color: #fff;
	border-radius: 50%;
	padding: toRem(10);
	text-align: center;	
	@include adaptiveValue("margin-bottom", 80, 30);
@include adaptiveValue("font-size", 30, 18);
	color: black;
}
